{#
 # 404 Not Found error page
 #}
{% extends 'layouts/error.twig' %}

{% block title %}{{ __('Page Not Found') }} - {{ app.name }}{% endblock %}

{% block content %}
<div class="min-h-[60vh] flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-8xl font-bold text-gray-200">404</h1>
        <h2 class="text-2xl font-semibold text-gray-900 mt-4">{{ __('Page Not Found') }}</h2>
        <p class="text-gray-600 mt-2">{{ __("Sorry, we couldn't find the page you're looking for.") }}</p>
        <div class="mt-6">
            {% include 'components/button.twig' with {
                href: url('/'),
                label: __('Go Home'),
                variant: 'primary'
            } %}
        </div>
    </div>
</div>
{% endblock %}
