{#
 # 500 Server Error page
 #}
{% extends 'layouts/error.twig' %}

{% block title %}{{ __('Server Error') }} - {{ app.name }}{% endblock %}

{% block content %}
<div class="min-h-[60vh] flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-8xl font-bold text-gray-200">500</h1>
        <h2 class="text-2xl font-semibold text-gray-900 mt-4">{{ __('Server Error') }}</h2>
        <p class="text-gray-600 mt-2">{{ __('Something went wrong on our end. Please try again later.') }}</p>
        <div class="mt-6">
            {% include 'components/button.twig' with {
                href: url('/'),
                label: __('Go Home'),
                variant: 'primary'
            } %}
        </div>
    </div>
</div>
{% endblock %}
