{#
 # Site footer
 #}
<footer class="page-footer">
    <div class="container section-sm">
        <div class="flex-between">
            <p class="text-small text-muted">
                &copy; {{ now('Y') }} {{ app.name }}. {{ __('All rights reserved.') }}
            </p>

            {% block footer_links %}{% endblock %}
        </div>
    </div>
</footer>
