{#
 # Site header with navigation
 #}
<header class="page-header">
    <div class="container">
        <div class="navbar" style="padding-left: 0; padding-right: 0;">
            <a href="{{ url('/') }}" class="navbar-brand">
                {{ app.name }}
            </a>

            {% include 'layouts/partials/navigation.twig' %}
        </div>
    </div>
</header>
