{#
 # Navigation menu
 # Displays different items based on authentication status
 #}
<nav class="flex items-center space-x-4">
    {% if is_authenticated() %}
        {# Authenticated navigation items will be added in later phases #}
        <span class="text-gray-600">
            {{ __('Welcome') }}
        </span>
    {% else %}
        {# Guest navigation items will be added in later phases #}
    {% endif %}
</nav>
