{#
 # Navigation menu
 # Displays different items based on authentication status
 #}
<nav class="navbar-nav">
    {% if is_authenticated() %}
        {# Authenticated navigation items will be added in later phases #}
        <span class="nav-link">
            {{ t('Welcome') }}
        </span>
    {% else %}
        {# Guest navigation items will be added in later phases #}
    {% endif %}
</nav>
