{#
 # Main authenticated layout
 # Used for logged-in users in the crew center
 #}
<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    {% include 'layouts/partials/head.twig' %}
</head>
<body class="min-h-screen bg-gray-100">
    <div class="min-h-screen flex flex-col">
        {% include 'layouts/partials/header.twig' %}

        <main class="flex-1">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                {% include 'layouts/partials/flash-messages.twig' %}

                {% block content %}{% endblock %}
            </div>
        </main>

        {% include 'layouts/partials/footer.twig' %}
    </div>

    {% include 'layouts/partials/scripts.twig' %}
</body>
</html>
